In [1]:
import pandas as pd
import numpy as np

In [2]:
num_of_evaluators = 2
num_of_criteria = 15
criteria = ['C11','C21','C22','C23', 'C31', 'C32', 'C33', 'C34', 'C41', 'C42', 'C51', 'C52', 'C53',' C61', 'C62']
num_of_candidates = 10
candidates = ['Candidate '+str(i+1) for i in range(num_of_candidates)]

In [3]:
path_first_eval = '../g-edas-matrix-results-v.xlsx'
results_eval_frst_df = pd.read_excel(path_first_eval, header=0)
results_eval_frst_df = results_eval_frst_df.fillna(0)
results_eval_frst_df = results_eval_frst_df.drop(results_eval_frst_df.columns[[0]], axis=1)
results_eval_frst_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,6,6,6,5,5,4,6,6,6,6,5,5,3,4,4
1,5,5,3,3,5,2,6,2,4,6,5,5,5,2,4
2,5,6,5,5,5,4,6,6,3,4,6,4,4,4,5
3,5,6,4,2,4,4,6,5,4,4,6,4,4,6,5
4,5,6,5,4,5,4,6,5,6,6,4,4,2,6,3
5,4,6,5,3,6,3,6,6,5,6,6,6,5,6,6
6,3,6,3,4,3,6,3,6,3,6,6,4,3,6,2
7,4,5,5,4,6,3,5,6,6,4,6,4,5,6,4
8,3,6,5,5,6,4,6,6,5,6,4,6,4,6,5
9,6,5,6,6,6,6,6,1,0,1,4,5,4,6,6

In [4]:
path_second_eval = '../g-edas-matrix-results-s.xlsx'
results_eval_scnd_df = pd.read_excel(path_second_eval, header=0)
results_eval_scnd_df = results_eval_scnd_df.fillna(0)
results_eval_scnd_df = results_eval_scnd_df.drop(results_eval_scnd_df.columns[[0]], axis=1)
results_eval_scnd_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,6,4,5,6,6,5,6,6,3,6,6,6,6,4,6
1,3,4,5,6,6,6,6,6,4,6,5,6,5,5,3
2,6,6,6,6,6,6,6,6,4,6,6,6,4,5,5
3,5,5,6,4,6,4,6,6,3,6,6,6,5,4,3
4,4,2,4,3,6,3,2,6,3,6,3,5,5,6,3
5,4,3,6,4,6,4,1,6,3,6,3,5,5,3,2
6,5,6,5,4,6,4,2,6,2,6,4,5,4,3,2
7,4,3,3,5,6,4,3,6,3,6,3,5,6,6,2
8,5,3,4,3,6,5,3,6,3,6,3,6,5,6,3
9,4,3,4,4,6,3,3,6,3,6,3,6,5,2,3

In [5]:
ling_scale = ['Veoma lose', 'Lose', 'Srednje lose', 'Prosecno', 'Srednje dobro', 'Dobro', 'Veoma dobro']
grey_nums = [[0, 1], [1, 3], [3, 4], [4, 5], [5, 6], [6, 9], [9, 10]]
scale = {'Linguistic Scale': ling_scale, 'Value': [i for i in range(7)], 'Grey Numbers': grey_nums}
scale_df = pd.DataFrame(data=scale)
scale_df

  Linguistic Scale  Value Grey Numbers
0       Veoma lose      0       [0, 1]
1             Lose      1       [1, 3]
2     Srednje lose      2       [3, 4]
3         Prosecno      3       [4, 5]
4    Srednje dobro      4       [5, 6]
5            Dobro      5       [6, 9]
6      Veoma dobro      6      [9, 10]

In [6]:
def print_grey_num(grey_num):
    return '[ ' + str(grey_num[0]) + ', ' + str(grey_num[1]) + ' ]'
                
def print_matrix(matrix):
    matrix_dim = matrix.shape[0]
    for i in range(matrix_dim):
        for j in range(matrix_dim):
            print(print_grey_num(matrix[i,j,:]), end =" ")
        print("\n")
        
def get_str_matrix_of_grey_nums(matrix):
    str_matrix = [[] for i in range(matrix.shape[0])]
    
    for i in range(matrix.shape[0]):
        for j in range(matrix.shape[1]):
            grey_num = matrix[i,j]
            str_matrix[i].append(print_grey_num(grey_num))
            
    return str_matrix

In [7]:
def get_grey_num_for_value(df, row_ind, col_ind):
    value = df.iloc[row_ind,col_ind]
    grey_num_for_value = grey_nums[value]
    return np.array(grey_num_for_value)

In [8]:
# replace values with grey nums; get g-edas matrix

edas_matrix = np.zeros((num_of_candidates, num_of_criteria, 2), dtype=float)

for i in range(num_of_candidates):
    for j in range(num_of_criteria):
        frst_grey_num = get_grey_num_for_value(results_eval_frst_df, i, j)
        scnd_grey_num = get_grey_num_for_value(results_eval_scnd_df, i, j)
        edas_matrix[i,j] = (frst_grey_num + scnd_grey_num) / 2
        
edas_matrix = np.around(edas_matrix, 3)

In [9]:
# initial decision-making matrix

str_matrix = get_str_matrix_of_grey_nums(edas_matrix)
str_matrix_df = pd.DataFrame(str_matrix, columns = criteria)
str_matrix_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,"[ 9.0, 10.0 ]","[ 7.0, 8.0 ]","[ 7.5, 9.5 ]","[ 7.5, 9.5 ]","[ 7.5, 9.5 ]","[ 5.5, 7.5 ]","[ 9.0, 10.0 ]","[ 9.0, 10.0 ]","[ 6.5, 7.5 ]","[ 9.0, 10.0 ]","[ 7.5, 9.5 ]","[ 7.5, 9.5 ]","[ 6.5, 7.5 ]","[ 5.0, 6.0 ]","[ 7.0, 8.0 ]"
1,"[ 5.0, 7.0 ]","[ 5.5, 7.5 ]","[ 5.0, 7.0 ]","[ 6.5, 7.5 ]","[ 7.5, 9.5 ]","[ 6.0, 7.0 ]","[ 9.0, 10.0 ]","[ 6.0, 7.0 ]","[ 5.0, 6.0 ]","[ 9.0, 10.0 ]","[ 6.0, 9.0 ]","[ 7.5, 9.5 ]","[ 6.0, 9.0 ]","[ 4.5, 6.5 ]","[ 4.5, 5.5 ]"
2,"[ 7.5, 9.5 ]","[ 9.0, 10.0 ]","[ 7.5, 9.5 ]","[ 7.5, 9.5 ]","[ 7.5, 9.5 ]","[ 7.0, 8.0 ]","[ 9.0, 10.0 ]","[ 9.0, 10.0 ]","[ 4.5, 5.5 ]","[ 7.0, 8.0 ]","[ 9.0, 10.0 ]","[ 7.0, 8.0 ]","[ 5.0, 6.0 ]","[ 5.5, 7.5 ]","[ 6.0, 9.0 ]"
3,"[ 6.0, 9.0 ]","[ 7.5, 9.5 ]","[ 7.0, 8.0 ]","[ 4.0, 5.0 ]","[ 7.0, 8.0 ]","[ 5.0, 6.0 ]","[ 9.0, 10.0 ]","[ 7.5, 9.5 ]","[ 4.5, 5.5 ]","[ 7.0, 8.0 ]","[ 9.0, 10.0 ]","[ 7.0, 8.0 ]","[ 5.5, 7.5 ]","[ 7.0, 8.0 ]","[ 5.0, 7.0 ]"
4,"[ 5.5, 7.5 ]","[ 6.0, 7.0 ]","[ 5.5, 7.5 ]","[ 4.5, 5.5 ]","[ 7.5, 9.5 ]","[ 4.5, 5.5 ]","[ 6.0, 7.0 ]","[ 7.5, 9.5 ]","[ 6.5, 7.5 ]","[ 9.0, 10.0 ]","[ 4.5, 5.5 ]","[ 5.5, 7.5 ]","[ 4.5, 6.5 ]","[ 9.0, 10.0 ]","[ 4.0, 5.0 ]"
5,"[ 5.0, 6.0 ]","[ 6.5, 7.5 ]","[ 7.5, 9.5 ]","[ 4.5, 5.5 ]","[ 9.0, 10.0 ]","[ 4.5, 5.5 ]","[ 5.0, 6.5 ]","[ 9.0, 10.0 ]","[ 5.0, 7.0 ]","[ 9.0, 10.0 ]","[ 6.5, 7.5 ]","[ 7.5, 9.5 ]","[ 6.0, 9.0 ]","[ 6.5, 7.5 ]","[ 6.0, 7.0 ]"
6,"[ 5.0, 7.0 ]","[ 9.0, 10.0 ]","[ 5.0, 7.0 ]","[ 5.0, 6.0 ]","[ 6.5, 7.5 ]","[ 7.0, 8.0 ]","[ 3.5, 4.5 ]","[ 9.0, 10.0 ]","[ 3.5, 4.5 ]","[ 9.0, 10.0 ]","[ 7.0, 8.0 ]","[ 5.5, 7.5 ]","[ 4.5, 5.5 ]","[ 6.5, 7.5 ]","[ 3.0, 4.0 ]"
7,"[ 5.0, 6.0 ]","[ 5.0, 7.0 ]","[ 5.0, 7.0 ]","[ 5.5, 7.5 ]","[ 9.0, 10.0 ]","[ 4.5, 5.5 ]","[ 5.0, 7.0 ]","[ 9.0, 10.0 ]","[ 6.5, 7.5 ]","[ 7.0, 8.0 ]","[ 6.5, 7.5 ]","[ 5.5, 7.5 ]","[ 7.5, 9.5 ]","[ 9.0, 10.0 ]","[ 4.0, 5.0 ]"
8,"[ 5.0, 7.0 ]","[ 6.5, 7.5 ]","[ 5.5, 7.5 ]","[ 5.0, 7.0 ]","[ 9.0, 10.0 ]","[ 5.5, 7.5 ]","[ 6.5, 7.5 ]","[ 9.0, 10.0 ]","[ 5.0, 7.0 ]","[ 9.0, 10.0 ]","[ 4.5, 5.5 ]","[ 9.0, 10.0 ]","[ 5.5, 7.5 ]","[ 9.0, 10.0 ]","[ 5.0, 7.0 ]"
9,"[ 7.0, 8.0 ]","[ 5.0, 7.0 ]","[ 7.0, 8.0 ]","[ 7.0, 8.0 ]","[ 9.0, 10.0 ]","[ 6.5, 7.5 ]","[ 6.5, 7.5 ]","[ 5.0, 6.5 ]","[ 2.0, 3.0 ]","[ 5.0, 6.5 ]","[ 4.5, 5.5 ]","[ 7.5, 9.5 ]","[ 5.5, 7.5 ]","[ 6.0, 7.0 ]","[ 6.5, 7.5 ]"

In [10]:
# grey average solution according to all criteria
average_solution_for_criteria_lower_bound = []
average_solution_for_criteria_upper_bound = []

for c in range(num_of_criteria):
    lower_bounds_for_c = np.ravel(edas_matrix[:,c,0])
    avg_lower_bound_for_c = sum(lower_bounds_for_c) / num_of_candidates
    average_solution_for_criteria_lower_bound.append(round(avg_lower_bound_for_c, 3))
    
    upper_bounds_for_c = np.ravel(edas_matrix[:,c,1])
    avg_upper_bound_for_c = sum(upper_bounds_for_c) / num_of_candidates
    average_solution_for_criteria_upper_bound.append(round(avg_upper_bound_for_c))

In [11]:
avg_solution_for_criteria = {'Criteria': criteria, 'Lower bound of avg solution': average_solution_for_criteria_lower_bound, 'Upper bound of avg solution': average_solution_for_criteria_upper_bound}
avg_solution_for_criteria_df = pd.DataFrame(data=avg_solution_for_criteria)
avg_solution_for_criteria_df

   Criteria  Lower bound of avg solution  Upper bound of avg solution
0       C11                         6.00                          8.0
1       C21                         6.70                          8.0
2       C22                         6.25                          8.0
3       C23                         5.70                          7.0
4       C31                         7.95                          9.0
5       C32                         5.60                          7.0
6       C33                         6.85                          8.0
7       C34                         8.00                          9.0
8       C41                         4.90                          6.0
9       C42                         8.00                          9.0
10      C51                         6.50                          8.0
11      C52                         6.95                          9.0
12      C53                         5.65                          8.0
13      C61                         6.80                          8.0
14      C62                         5.10                          6.0

In [12]:
def get_evaluation_of_candidate_according_to_criteria(candidate, criterion):
    return edas_matrix[candidate,criterion]  

def calculate_pda_for_evaluation(candidate, criterion):
    grey_num_evaluation = get_evaluation_of_candidate_according_to_criteria(candidate, criterion)
    eval_l, eval_u = grey_num_evaluation[0], grey_num_evaluation[1]
    avg_sol_for_c_l = average_solution_for_criteria_lower_bound[criterion]
    avg_sol_for_c_u = average_solution_for_criteria_upper_bound[criterion]
    
    lower_pda_bound = max(0, (eval_l - avg_sol_for_c_u)) / 0.5*(avg_sol_for_c_l + avg_sol_for_c_u)
    upper_pda_bound = max(0, (eval_u - avg_sol_for_c_l)) / 0.5*(avg_sol_for_c_l + avg_sol_for_c_u)
    
    pda = np.array([lower_pda_bound, upper_pda_bound])
    return np.around(pda, 3)
    
    
def calculate_nda_for_evaluation(candidate, criterion):
    grey_num_evaluation = get_evaluation_of_candidate_according_to_criteria(candidate, criterion)
    eval_l, eval_u = grey_num_evaluation[0], grey_num_evaluation[1]
    avg_sol_for_c_l = average_solution_for_criteria_lower_bound[criterion]
    avg_sol_for_c_u = average_solution_for_criteria_upper_bound[criterion]
    
    lower_nda_bound = max(0, (avg_sol_for_c_l - eval_u)) / 0.5*(avg_sol_for_c_l + avg_sol_for_c_u)
    upper_nda_bound = max(0, (avg_sol_for_c_u - eval_l)) / 0.5*(avg_sol_for_c_l + avg_sol_for_c_u)
    
    nda = np.array([lower_nda_bound, upper_nda_bound])
    return np.around(nda, 3)

In [13]:
# grey positive and negative distance from avg: PDA/NDA

pda_matrix = np.zeros((num_of_candidates, num_of_criteria, 2), dtype=float)
nda_matrix = np.zeros((num_of_candidates, num_of_criteria, 2), dtype=float)

for candidate in range(num_of_candidates):
    for criterion in range(num_of_criteria):
        pda_matrix[candidate,criterion] = calculate_pda_for_evaluation(candidate, criterion)
        nda_matrix[candidate,criterion] = calculate_nda_for_evaluation(candidate, criterion)

In [14]:
# the positive grey distance from the average

pda_matrix_str = get_str_matrix_of_grey_nums(pda_matrix)
pda_matrix_df = pd.DataFrame(pda_matrix_str, columns = criteria)
pda_matrix_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,"[ 28.0, 112.0 ]","[ 0.0, 38.22 ]","[ 0.0, 92.625 ]","[ 12.7, 96.52 ]","[ 0.0, 52.545 ]","[ 0.0, 47.88 ]","[ 29.7, 93.555 ]","[ 0.0, 68.0 ]","[ 10.9, 56.68 ]","[ 0.0, 68.0 ]","[ 0.0, 87.0 ]","[ 0.0, 81.345 ]","[ 0.0, 50.505 ]","[ 0.0, 0.0 ]","[ 22.2, 64.38 ]"
1,"[ 0.0, 28.0 ]","[ 0.0, 23.52 ]","[ 0.0, 21.375 ]","[ 0.0, 45.72 ]","[ 0.0, 52.545 ]","[ 0.0, 35.28 ]","[ 29.7, 93.555 ]","[ 0.0, 0.0 ]","[ 0.0, 23.98 ]","[ 0.0, 68.0 ]","[ 0.0, 72.5 ]","[ 0.0, 81.345 ]","[ 0.0, 91.455 ]","[ 0.0, 0.0 ]","[ 0.0, 8.88 ]"
2,"[ 0.0, 98.0 ]","[ 29.4, 97.02 ]","[ 0.0, 92.625 ]","[ 12.7, 96.52 ]","[ 0.0, 52.545 ]","[ 0.0, 60.48 ]","[ 29.7, 93.555 ]","[ 0.0, 68.0 ]","[ 0.0, 13.08 ]","[ 0.0, 0.0 ]","[ 29.0, 101.5 ]","[ 0.0, 33.495 ]","[ 0.0, 9.555 ]","[ 0.0, 20.72 ]","[ 0.0, 86.58 ]"
3,"[ 0.0, 84.0 ]","[ 0.0, 82.32 ]","[ 0.0, 49.875 ]","[ 0.0, 0.0 ]","[ 0.0, 1.695 ]","[ 0.0, 10.08 ]","[ 29.7, 93.555 ]","[ 0.0, 51.0 ]","[ 0.0, 13.08 ]","[ 0.0, 0.0 ]","[ 29.0, 101.5 ]","[ 0.0, 33.495 ]","[ 0.0, 50.505 ]","[ 0.0, 35.52 ]","[ 0.0, 42.18 ]"
4,"[ 0.0, 42.0 ]","[ 0.0, 8.82 ]","[ 0.0, 35.625 ]","[ 0.0, 0.0 ]","[ 0.0, 52.545 ]","[ 0.0, 0.0 ]","[ 0.0, 4.455 ]","[ 0.0, 51.0 ]","[ 10.9, 56.68 ]","[ 0.0, 68.0 ]","[ 0.0, 0.0 ]","[ 0.0, 17.545 ]","[ 0.0, 23.205 ]","[ 29.6, 94.72 ]","[ 0.0, 0.0 ]"
5,"[ 0.0, 0.0 ]","[ 0.0, 23.52 ]","[ 0.0, 92.625 ]","[ 0.0, 0.0 ]","[ 0.0, 69.495 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 68.0 ]","[ 0.0, 45.78 ]","[ 0.0, 68.0 ]","[ 0.0, 29.0 ]","[ 0.0, 81.345 ]","[ 0.0, 91.455 ]","[ 0.0, 20.72 ]","[ 0.0, 42.18 ]"
6,"[ 0.0, 28.0 ]","[ 29.4, 97.02 ]","[ 0.0, 21.375 ]","[ 0.0, 7.62 ]","[ 0.0, 0.0 ]","[ 0.0, 60.48 ]","[ 0.0, 0.0 ]","[ 0.0, 68.0 ]","[ 0.0, 0.0 ]","[ 0.0, 68.0 ]","[ 0.0, 43.5 ]","[ 0.0, 17.545 ]","[ 0.0, 0.0 ]","[ 0.0, 20.72 ]","[ 0.0, 0.0 ]"
7,"[ 0.0, 0.0 ]","[ 0.0, 8.82 ]","[ 0.0, 21.375 ]","[ 0.0, 45.72 ]","[ 0.0, 69.495 ]","[ 0.0, 0.0 ]","[ 0.0, 4.455 ]","[ 0.0, 68.0 ]","[ 10.9, 56.68 ]","[ 0.0, 0.0 ]","[ 0.0, 29.0 ]","[ 0.0, 17.545 ]","[ 0.0, 105.105 ]","[ 29.6, 94.72 ]","[ 0.0, 0.0 ]"
8,"[ 0.0, 28.0 ]","[ 0.0, 23.52 ]","[ 0.0, 35.625 ]","[ 0.0, 33.02 ]","[ 0.0, 69.495 ]","[ 0.0, 47.88 ]","[ 0.0, 19.305 ]","[ 0.0, 68.0 ]","[ 0.0, 45.78 ]","[ 0.0, 68.0 ]","[ 0.0, 0.0 ]","[ 0.0, 97.295 ]","[ 0.0, 50.505 ]","[ 29.6, 94.72 ]","[ 0.0, 42.18 ]"
9,"[ 0.0, 56.0 ]","[ 0.0, 8.82 ]","[ 0.0, 49.875 ]","[ 0.0, 58.42 ]","[ 0.0, 69.495 ]","[ 0.0, 47.88 ]","[ 0.0, 19.305 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 81.345 ]","[ 0.0, 50.505 ]","[ 0.0, 5.92 ]","[ 11.1, 53.28 ]"

In [15]:
# the negative grey distance from the average

nda_matrix_str = get_str_matrix_of_grey_nums(nda_matrix)
nda_matrix_df = pd.DataFrame(nda_matrix_str, columns = criteria)
nda_matrix_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,"[ 0.0, 0.0 ]","[ 0.0, 29.4 ]","[ 0.0, 14.25 ]","[ 0.0, 0.0 ]","[ 0.0, 50.85 ]","[ 0.0, 37.8 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 14.5 ]","[ 0.0, 47.85 ]","[ 0.0, 40.95 ]","[ 23.68, 88.8 ]","[ 0.0, 0.0 ]"
1,"[ 0.0, 84.0 ]","[ 0.0, 73.5 ]","[ 0.0, 85.5 ]","[ 0.0, 12.7 ]","[ 0.0, 50.85 ]","[ 0.0, 25.2 ]","[ 0.0, 0.0 ]","[ 34.0, 102.0 ]","[ 0.0, 21.8 ]","[ 0.0, 0.0 ]","[ 0.0, 58.0 ]","[ 0.0, 47.85 ]","[ 0.0, 54.6 ]","[ 8.88, 103.6 ]","[ 0.0, 33.3 ]"
2,"[ 0.0, 14.0 ]","[ 0.0, 0.0 ]","[ 0.0, 14.25 ]","[ 0.0, 0.0 ]","[ 0.0, 50.85 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 32.7 ]","[ 0.0, 68.0 ]","[ 0.0, 0.0 ]","[ 0.0, 63.8 ]","[ 0.0, 81.9 ]","[ 0.0, 74.0 ]","[ 0.0, 0.0 ]"
3,"[ 0.0, 56.0 ]","[ 0.0, 14.7 ]","[ 0.0, 28.5 ]","[ 17.78, 76.2 ]","[ 0.0, 67.8 ]","[ 0.0, 50.4 ]","[ 0.0, 0.0 ]","[ 0.0, 51.0 ]","[ 0.0, 32.7 ]","[ 0.0, 68.0 ]","[ 0.0, 0.0 ]","[ 0.0, 63.8 ]","[ 0.0, 68.25 ]","[ 0.0, 29.6 ]","[ 0.0, 22.2 ]"
4,"[ 0.0, 70.0 ]","[ 0.0, 58.8 ]","[ 0.0, 71.25 ]","[ 5.08, 63.5 ]","[ 0.0, 50.85 ]","[ 2.52, 63.0 ]","[ 0.0, 59.4 ]","[ 0.0, 51.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 29.0, 101.5 ]","[ 0.0, 111.65 ]","[ 0.0, 95.55 ]","[ 0.0, 0.0 ]","[ 2.22, 44.4 ]"
5,"[ 0.0, 84.0 ]","[ 0.0, 44.1 ]","[ 0.0, 14.25 ]","[ 5.08, 63.5 ]","[ 0.0, 0.0 ]","[ 2.52, 63.0 ]","[ 10.395, 89.1 ]","[ 0.0, 0.0 ]","[ 0.0, 21.8 ]","[ 0.0, 0.0 ]","[ 0.0, 43.5 ]","[ 0.0, 47.85 ]","[ 0.0, 54.6 ]","[ 0.0, 44.4 ]","[ 0.0, 0.0 ]"
6,"[ 0.0, 84.0 ]","[ 0.0, 0.0 ]","[ 0.0, 85.5 ]","[ 0.0, 50.8 ]","[ 15.255, 84.75 ]","[ 0.0, 0.0 ]","[ 69.795, 133.65 ]","[ 0.0, 0.0 ]","[ 8.72, 54.5 ]","[ 0.0, 0.0 ]","[ 0.0, 29.0 ]","[ 0.0, 111.65 ]","[ 4.095, 95.55 ]","[ 0.0, 44.4 ]","[ 24.42, 66.6 ]"
7,"[ 0.0, 84.0 ]","[ 0.0, 88.2 ]","[ 0.0, 85.5 ]","[ 0.0, 38.1 ]","[ 0.0, 0.0 ]","[ 2.52, 63.0 ]","[ 0.0, 89.1 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 68.0 ]","[ 0.0, 43.5 ]","[ 0.0, 111.65 ]","[ 0.0, 13.65 ]","[ 0.0, 0.0 ]","[ 2.22, 44.4 ]"
8,"[ 0.0, 84.0 ]","[ 0.0, 44.1 ]","[ 0.0, 71.25 ]","[ 0.0, 50.8 ]","[ 0.0, 0.0 ]","[ 0.0, 37.8 ]","[ 0.0, 44.55 ]","[ 0.0, 0.0 ]","[ 0.0, 21.8 ]","[ 0.0, 0.0 ]","[ 29.0, 101.5 ]","[ 0.0, 0.0 ]","[ 0.0, 68.25 ]","[ 0.0, 0.0 ]","[ 0.0, 22.2 ]"
9,"[ 0.0, 28.0 ]","[ 0.0, 88.2 ]","[ 0.0, 28.5 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 12.6 ]","[ 0.0, 44.55 ]","[ 51.0, 136.0 ]","[ 41.42, 87.2 ]","[ 51.0, 136.0 ]","[ 29.0, 101.5 ]","[ 0.0, 47.85 ]","[ 0.0, 68.25 ]","[ 0.0, 59.2 ]","[ 0.0, 0.0 ]"

In [16]:
# weights for criteria categories obtained through g-aph

weights = [0.09, 0.495, 0.145, 0.052, 0.027, 0.191]
criteria_weights_from_g_aph = [weights[0]]
criteria_weights_from_g_aph.extend([weights[1] for i in range(3)]) # C21, C22, C23
criteria_weights_from_g_aph.extend([weights[2] for i in range(4)]) # C31, C32, C33, C34
criteria_weights_from_g_aph.extend([weights[3] for i in range(2)]) # C41, C42
criteria_weights_from_g_aph.extend([weights[4] for i in range(3)]) # C51, C52, C53
criteria_weights_from_g_aph.extend([weights[5] for i in range(2)]) # C61, C62
print(criteria_weights_from_g_aph)

[0.09, 0.495, 0.495, 0.495, 0.145, 0.145, 0.145, 0.145, 0.052, 0.052, 0.027, 0.027, 0.027, 0.191, 0.191]

In [17]:
def get_weighted_dist_from_avg_for_candidate(candidate):
    pda_for_all_criteria = pda_matrix[candidate,:,:]
    nda_for_all_criteria = nda_matrix[candidate,:,:]
    weighted_pda = np.array([0., 0.])
    weighted_nda = np.array([0., 0.])
    
    for i in range(num_of_criteria):
        criterion_pda = pda_for_all_criteria[i]
        criterion_nda = nda_for_all_criteria[i]
        criterion_weight = criteria_weights_from_g_aph[i]
        
        weighted_pda += criterion_pda * criterion_weight
        weighted_nda += criterion_nda * criterion_weight
        
    return weighted_pda, weighted_nda

In [18]:
# weighted sum of the grey PDA and NDA

weighted_pda_matrix = np.zeros((1, num_of_candidates, 2), dtype=float)
weighted_nda_matrix = np.zeros((1, num_of_candidates, 2), dtype=float)

for candidate in range(num_of_candidates):
    weighted_pda, weighted_nda = get_weighted_dist_from_avg_for_candidate(candidate)
    weighted_pda_matrix[0, candidate] = weighted_pda
    weighted_nda_matrix[0, candidate] = weighted_nda
    
weighted_pda_matrix = np.around(weighted_pda_matrix, 3)
weighted_nda_matrix = np.around(weighted_nda_matrix, 3)

In [19]:
# weighted sum of the grey PDA

weighted_pda_str = get_str_matrix_of_grey_nums(weighted_pda_matrix)
weighted_pda_df = pd.DataFrame(weighted_pda_str, columns = ['Candidate '+str(i+1) for i in range(num_of_candidates)])
weighted_pda_df

,Candidate 1,Candidate 2,Candidate 3,Candidate 4,Candidate 5,Candidate 6,Candidate 7,Candidate 8,Candidate 9,Candidate 10
0,"[ 17.92, 185.302 ]","[ 4.306, 86.777 ]","[ 25.929, 215.363 ]","[ 5.09, 116.194 ]","[ 6.22, 67.115 ]","[ 0.0, 100.808 ]","[ 14.553, 92.669 ]","[ 6.22, 83.294 ]","[ 5.654, 113.875 ]","[ 2.12, 97.698 ]"

In [20]:
# weighted sum of the grey NDA

weighted_nda_str = get_str_matrix_of_grey_nums(weighted_nda_matrix)
weighted_nda_df = pd.DataFrame(weighted_nda_str, columns = ['Candidate '+str(i+1) for i in range(num_of_candidates)])
weighted_nda_df

,Candidate 1,Candidate 2,Candidate 3,Candidate 4,Candidate 5,Candidate 6,Candidate 7,Candidate 8,Candidate 9,Candidate 10
0,"[ 4.523, 54.211 ]","[ 6.626, 149.982 ]","[ 0.0, 38.991 ]","[ 8.801, 107.373 ]","[ 4.087, 151.439 ]","[ 4.387, 103.485 ]","[ 17.56, 137.109 ]","[ 0.789, 151.03 ]","[ 0.783, 111.702 ]","[ 12.984, 117.082 ]"

In [21]:
# normalizing values

pda_norm_factor = max(np.ravel(weighted_pda_matrix[:,:,1]))
nda_norm_factor = max(np.ravel(weighted_nda_matrix[:,:,1]))

norm_weighted_pda = np.around(weighted_pda_matrix / pda_norm_factor, 3)
norm_weighted_nda = np.around(weighted_nda_matrix / nda_norm_factor, 3)

In [22]:
# normalized weighted grey sums of positive distances from the average (PDA)

norm_weighted_pda_str = get_str_matrix_of_grey_nums(norm_weighted_pda)
norm_weighted_pda_df = pd.DataFrame(norm_weighted_pda_str, columns = ['Candidate '+str(i+1) for i in range(num_of_candidates)])
norm_weighted_pda_df

,Candidate 1,Candidate 2,Candidate 3,Candidate 4,Candidate 5,Candidate 6,Candidate 7,Candidate 8,Candidate 9,Candidate 10
0,"[ 0.083, 0.86 ]","[ 0.02, 0.403 ]","[ 0.12, 1.0 ]","[ 0.024, 0.54 ]","[ 0.029, 0.312 ]","[ 0.0, 0.468 ]","[ 0.068, 0.43 ]","[ 0.029, 0.387 ]","[ 0.026, 0.529 ]","[ 0.01, 0.454 ]"

In [23]:
# normalized weighted grey sums of negative distances from the average (NDA)

norm_weighted_nda_str = get_str_matrix_of_grey_nums(norm_weighted_nda)
norm_weighted_nda_df = pd.DataFrame(norm_weighted_nda_str, columns = candidates)
norm_weighted_nda_df

,Candidate 1,Candidate 2,Candidate 3,Candidate 4,Candidate 5,Candidate 6,Candidate 7,Candidate 8,Candidate 9,Candidate 10
0,"[ 0.03, 0.358 ]","[ 0.044, 0.99 ]","[ 0.0, 0.257 ]","[ 0.058, 0.709 ]","[ 0.027, 1.0 ]","[ 0.029, 0.683 ]","[ 0.116, 0.905 ]","[ 0.005, 0.997 ]","[ 0.005, 0.738 ]","[ 0.086, 0.773 ]"

In [24]:
# calculating score

scores = []

for i in range(num_of_candidates):
    norm_weighted_pda_for_candidate = np.ravel(norm_weighted_pda[0,i,:])
    norm_weighted_nda_for_candidate = np.ravel(norm_weighted_nda[0,i,:])
    score = sum(norm_weighted_pda_for_candidate) + sum(norm_weighted_nda_for_candidate)
    score = np.round(score/4, 3)
    scores.append(score)
    
scores

[0.333, 0.364, 0.344, 0.333, 0.342, 0.295, 0.38, 0.355, 0.324, 0.331]

In [25]:
def get_ranks_for_candidates(scores):
    candidate_score_dict = {}
    c = 1
    for score in scores:
        candidate_score_dict[c] = score
        c += 1

    candidate_score_sorted = dict(sorted(candidate_score_dict.items(), key=lambda item: item[1]))
    ranks = [0 for i in range(num_of_candidates)]
    rank = 10
    for c in candidate_score_sorted:
        ranks[c-1] = rank
        rank -= 1
        
    return ranks

In [26]:
ranks = get_ranks_for_candidates(scores)
ranks

[7, 2, 4, 6, 5, 10, 1, 3, 9, 8]

In [27]:
scores_data = {'Candidate': candidates, 'Score': scores, 'Rank': ranks}
scores_df = pd.DataFrame(data=scores_data)
scores_df

      Candidate  Score  Rank
0   Candidate 1  0.333     7
1   Candidate 2  0.364     2
2   Candidate 3  0.344     4
3   Candidate 4  0.333     6
4   Candidate 5  0.342     5
5   Candidate 6  0.295    10
6   Candidate 7  0.380     1
7   Candidate 8  0.355     3
8   Candidate 9  0.324     9
9  Candidate 10  0.331     8