In [9]:
import pandas as pd
import numpy as np

In [138]:
num_of_evaluators = 2
num_of_criteria = 15
criteria = ['C11','C21','C22','C23', 'C31', 'C32', 'C33', 'C34', 'C41', 'C42', 'C51', 'C52', 'C53',' C61', 'C62']
num_of_candidates = 10
candidates = ['Candidate '+str(i+1) for i in range(num_of_candidates)]

In [22]:
path_first_eval = '../g-edas-matrix-results-v.xlsx'
results_eval_frst_df = pd.read_excel(path_first_eval, header=0)
results_eval_frst_df = results_eval_frst_df.fillna(0)
results_eval_frst_df = results_eval_frst_df.drop(results_eval_frst_df.columns[[0]], axis=1)
results_eval_frst_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,0,1,2,4,5,4,3,0,5,1,0,5,5,5,5
1,1,2,3,3,5,4,3,6,0,1,1,5,5,5,5
2,2,2,1,5,4,3,6,2,2,3,3,4,2,5,1
3,5,3,3,3,3,4,4,5,2,2,4,4,0,1,5
4,0,3,5,0,3,0,6,4,5,0,3,3,4,5,1
5,5,2,3,5,3,3,6,6,4,1,5,0,4,5,1
6,2,2,5,5,1,6,3,3,3,5,5,5,5,5,1
7,5,2,1,3,6,0,2,3,3,5,0,5,0,5,5
8,6,3,3,5,1,3,3,4,5,5,2,2,1,5,5
9,0,2,5,5,0,5,4,4,5,5,5,5,5,5,5

In [21]:
path_second_eval = '../g-edas-matrix-results-s.xlsx'
results_eval_scnd_df = pd.read_excel(path_second_eval, header=0)
results_eval_scnd_df = results_eval_scnd_df.fillna(0)
results_eval_scnd_df = results_eval_scnd_df.drop(results_eval_scnd_df.columns[[0]], axis=1)
results_eval_scnd_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,0,1,2,4,5,4,3,0,5,1,0,5,5,5,5
1,1,2,3,3,5,4,3,6,0,1,1,5,5,5,5
2,2,3,1,1,4,2,1,2,2,1,5,4,3,2,1
3,5,3,4,2,4,1,2,5,3,3,3,3,4,4,5
4,0,5,3,5,2,4,2,4,3,5,0,3,0,2,1
5,5,3,2,3,5,2,3,6,2,3,5,3,3,6,1
6,2,5,4,5,1,1,2,3,2,5,5,1,6,3,1
7,5,4,4,4,5,4,6,3,2,1,3,6,0,2,5
8,6,3,3,5,1,5,3,4,5,5,2,2,2,5,5
9,0,2,5,5,0,2,4,4,5,5,5,5,5,5,5

In [19]:
ling_scale = ['Veoma lose', 'Lose', 'Srednje lose', 'Prosecno', 'Srednje dobro', 'Dobro', 'Veoma dobro']
grey_nums = [[0, 1], [1, 3], [3, 4], [4, 5], [5, 6], [6, 9], [9, 10]]
scale = {'Linguistic Scale': ling_scale, 'Value': [i for i in range(7)], 'Grey Numbers': grey_nums}
scale_df = pd.DataFrame(data=scale)
scale_df

  Linguistic Scale  Value Grey Numbers
0       Veoma lose      0       [0, 1]
1             Lose      1       [1, 3]
2     Srednje lose      2       [3, 4]
3         Prosecno      3       [4, 5]
4    Srednje dobro      4       [5, 6]
5            Dobro      5       [6, 9]
6      Veoma dobro      6      [9, 10]

In [47]:
def print_grey_num(grey_num):
    return '[ ' + str(grey_num[0]) + ', ' + str(grey_num[1]) + ' ]'
                
def print_matrix(matrix):
    matrix_dim = matrix.shape[0]
    for i in range(matrix_dim):
        for j in range(matrix_dim):
            print(print_grey_num(matrix[i,j,:]), end =" ")
        print("\n")
        
def get_str_matrix_of_grey_nums(matrix):
    str_matrix = [[] for i in range(matrix.shape[0])]
    
    for i in range(matrix.shape[0]):
        for j in range(matrix.shape[1]):
            grey_num = matrix[i,j]
            str_matrix[i].append(print_grey_num(grey_num))
            
    return str_matrix

In [31]:
def get_grey_num_for_value(df, row_ind, col_ind):
    value = df.iloc[row_ind,col_ind]
    grey_num_for_value = grey_nums[value]
    return np.array(grey_num_for_value)

In [52]:
# replace values with grey nums; get g-edas matrix

edas_matrix = np.zeros((num_of_candidates, num_of_criteria, 2), dtype=float)

for i in range(num_of_candidates):
    for j in range(num_of_criteria):
        frst_grey_num = get_grey_num_for_value(results_eval_frst_df, i, j)
        scnd_grey_num = get_grey_num_for_value(results_eval_scnd_df, i, j)
        edas_matrix[i,j] = (frst_grey_num + scnd_grey_num) / 2
        
edas_matrix = np.around(edas_matrix, 3)

In [53]:
# initial decision-making matrix

str_matrix = get_str_matrix_of_grey_nums(edas_matrix)
str_matrix_df = pd.DataFrame(str_matrix, columns = criteria)
str_matrix_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,"[ 0.0, 1.0 ]","[ 1.0, 3.0 ]","[ 3.0, 4.0 ]","[ 5.0, 6.0 ]","[ 6.0, 9.0 ]","[ 5.0, 6.0 ]","[ 4.0, 5.0 ]","[ 0.0, 1.0 ]","[ 6.0, 9.0 ]","[ 1.0, 3.0 ]","[ 0.0, 1.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]"
1,"[ 1.0, 3.0 ]","[ 3.0, 4.0 ]","[ 4.0, 5.0 ]","[ 4.0, 5.0 ]","[ 6.0, 9.0 ]","[ 5.0, 6.0 ]","[ 4.0, 5.0 ]","[ 9.0, 10.0 ]","[ 0.0, 1.0 ]","[ 1.0, 3.0 ]","[ 1.0, 3.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]"
2,"[ 3.0, 4.0 ]","[ 3.5, 4.5 ]","[ 1.0, 3.0 ]","[ 3.5, 6.0 ]","[ 5.0, 6.0 ]","[ 3.5, 4.5 ]","[ 5.0, 6.5 ]","[ 3.0, 4.0 ]","[ 3.0, 4.0 ]","[ 2.5, 4.0 ]","[ 5.0, 7.0 ]","[ 5.0, 6.0 ]","[ 3.5, 4.5 ]","[ 4.5, 6.5 ]","[ 1.0, 3.0 ]"
3,"[ 6.0, 9.0 ]","[ 4.0, 5.0 ]","[ 4.5, 5.5 ]","[ 3.5, 4.5 ]","[ 4.5, 5.5 ]","[ 3.0, 4.5 ]","[ 4.0, 5.0 ]","[ 6.0, 9.0 ]","[ 3.5, 4.5 ]","[ 3.5, 4.5 ]","[ 4.5, 5.5 ]","[ 4.5, 5.5 ]","[ 2.5, 3.5 ]","[ 3.0, 4.5 ]","[ 6.0, 9.0 ]"
4,"[ 0.0, 1.0 ]","[ 5.0, 7.0 ]","[ 5.0, 7.0 ]","[ 3.0, 5.0 ]","[ 3.5, 4.5 ]","[ 2.5, 3.5 ]","[ 6.0, 7.0 ]","[ 5.0, 6.0 ]","[ 5.0, 7.0 ]","[ 3.0, 5.0 ]","[ 2.0, 3.0 ]","[ 4.0, 5.0 ]","[ 2.5, 3.5 ]","[ 4.5, 6.5 ]","[ 1.0, 3.0 ]"
5,"[ 6.0, 9.0 ]","[ 3.5, 4.5 ]","[ 3.5, 4.5 ]","[ 5.0, 7.0 ]","[ 5.0, 7.0 ]","[ 3.5, 4.5 ]","[ 6.5, 7.5 ]","[ 9.0, 10.0 ]","[ 4.0, 5.0 ]","[ 2.5, 4.0 ]","[ 6.0, 9.0 ]","[ 2.0, 3.0 ]","[ 4.5, 5.5 ]","[ 7.5, 9.5 ]","[ 1.0, 3.0 ]"
6,"[ 3.0, 4.0 ]","[ 4.5, 6.5 ]","[ 5.5, 7.5 ]","[ 6.0, 9.0 ]","[ 1.0, 3.0 ]","[ 5.0, 6.5 ]","[ 3.5, 4.5 ]","[ 4.0, 5.0 ]","[ 3.5, 4.5 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 3.5, 6.0 ]","[ 7.5, 9.5 ]","[ 5.0, 7.0 ]","[ 1.0, 3.0 ]"
7,"[ 6.0, 9.0 ]","[ 4.0, 5.0 ]","[ 3.0, 4.5 ]","[ 4.5, 5.5 ]","[ 7.5, 9.5 ]","[ 2.5, 3.5 ]","[ 6.0, 7.0 ]","[ 4.0, 5.0 ]","[ 3.5, 4.5 ]","[ 3.5, 6.0 ]","[ 2.0, 3.0 ]","[ 7.5, 9.5 ]","[ 0.0, 1.0 ]","[ 4.5, 6.5 ]","[ 6.0, 9.0 ]"
8,"[ 9.0, 10.0 ]","[ 4.0, 5.0 ]","[ 4.0, 5.0 ]","[ 6.0, 9.0 ]","[ 1.0, 3.0 ]","[ 5.0, 7.0 ]","[ 4.0, 5.0 ]","[ 5.0, 6.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 3.0, 4.0 ]","[ 3.0, 4.0 ]","[ 2.0, 3.5 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]"
9,"[ 0.0, 1.0 ]","[ 3.0, 4.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 0.0, 1.0 ]","[ 4.5, 6.5 ]","[ 5.0, 6.0 ]","[ 5.0, 6.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]"

In [72]:
# grey average solution according to all criteria
average_solution_for_criteria_lower_bound = []
average_solution_for_criteria_upper_bound = []

for c in range(num_of_criteria):
    lower_bounds_for_c = np.ravel(edas_matrix[:,c,0])
    avg_lower_bound_for_c = sum(lower_bounds_for_c) / num_of_candidates
    average_solution_for_criteria_lower_bound.append(round(avg_lower_bound_for_c, 3))
    
    upper_bounds_for_c = np.ravel(edas_matrix[:,c,1])
    avg_upper_bound_for_c = sum(upper_bounds_for_c) / num_of_candidates
    average_solution_for_criteria_upper_bound.append(round(avg_upper_bound_for_c))

In [73]:
avg_solution_for_criteria = {'Criteria': criteria, 'Lower bound of avg solution': average_solution_for_criteria_lower_bound, 'Upper bound of avg solution': average_solution_for_criteria_upper_bound}
avg_solution_for_criteria_df = pd.DataFrame(data=avg_solution_for_criteria)
avg_solution_for_criteria_df

   Criteria  Lower bound of avg solution  Upper bound of avg solution
0       C11                         3.40                          5.0
1       C21                         3.55                          5.0
2       C22                         3.95                          6.0
3       C23                         4.65                          7.0
4       C31                         3.95                          6.0
5       C32                         3.95                          5.0
6       C33                         4.80                          6.0
7       C34                         5.00                          6.0
8       C41                         4.05                          6.0
9       C42                         3.50                          6.0
10      C51                         3.55                          5.0
11      C52                         4.75                          7.0
12      C53                         4.05                          6.0
13      C61                         5.30                          8.0
14      C62                         4.00                          7.0

In [86]:
def get_evaluation_of_candidate_according_to_criteria(candidate, criterion):
    return edas_matrix[candidate,criterion]  

def calculate_pda_for_evaluation(candidate, criterion):
    grey_num_evaluation = get_evaluation_of_candidate_according_to_criteria(candidate, criterion)
    eval_l, eval_u = grey_num_evaluation[0], grey_num_evaluation[1]
    avg_sol_for_c_l = average_solution_for_criteria_lower_bound[criterion]
    avg_sol_for_c_u = average_solution_for_criteria_upper_bound[criterion]
    
    lower_pda_bound = max(0, (eval_l - avg_sol_for_c_u)) / 0.5*(avg_sol_for_c_l + avg_sol_for_c_u)
    upper_pda_bound = max(0, (eval_u - avg_sol_for_c_l)) / 0.5*(avg_sol_for_c_l + avg_sol_for_c_u)
    
    pda = np.array([lower_pda_bound, upper_pda_bound])
    return np.around(pda, 3)
    
    
def calculate_nda_for_evaluation(candidate, criterion):
    grey_num_evaluation = get_evaluation_of_candidate_according_to_criteria(candidate, criterion)
    eval_l, eval_u = grey_num_evaluation[0], grey_num_evaluation[1]
    avg_sol_for_c_l = average_solution_for_criteria_lower_bound[criterion]
    avg_sol_for_c_u = average_solution_for_criteria_upper_bound[criterion]
    
    lower_nda_bound = max(0, (avg_sol_for_c_l - eval_u)) / 0.5*(avg_sol_for_c_l + avg_sol_for_c_u)
    upper_nda_bound = max(0, (avg_sol_for_c_u - eval_l)) / 0.5*(avg_sol_for_c_l + avg_sol_for_c_u)
    
    nda = np.array([lower_nda_bound, upper_nda_bound])
    return np.around(nda, 3)

In [87]:
# grey positive and negative distance from avg: PDA/NDA

pda_matrix = np.zeros((num_of_candidates, num_of_criteria, 2), dtype=float)
nda_matrix = np.zeros((num_of_candidates, num_of_criteria, 2), dtype=float)

for candidate in range(num_of_candidates):
    for criterion in range(num_of_criteria):
        pda_matrix[candidate,criterion] = calculate_pda_for_evaluation(candidate, criterion)
        nda_matrix[candidate,criterion] = calculate_nda_for_evaluation(candidate, criterion)

In [88]:
# the positive grey distance from the average

pda_matrix_str = get_str_matrix_of_grey_nums(pda_matrix)
pda_matrix_df = pd.DataFrame(pda_matrix_str, columns = criteria)
pda_matrix_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,"[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.995 ]","[ 0.0, 31.455 ]","[ 0.0, 100.495 ]","[ 0.0, 36.695 ]","[ 0.0, 4.32 ]","[ 0.0, 0.0 ]","[ 0.0, 99.495 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 99.875 ]","[ 0.0, 99.495 ]","[ 0.0, 98.42 ]","[ 0.0, 110.0 ]"
1,"[ 0.0, 0.0 ]","[ 0.0, 7.695 ]","[ 0.0, 20.895 ]","[ 0.0, 8.155 ]","[ 0.0, 100.495 ]","[ 0.0, 36.695 ]","[ 0.0, 4.32 ]","[ 66.0, 110.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 99.875 ]","[ 0.0, 99.495 ]","[ 0.0, 98.42 ]","[ 0.0, 110.0 ]"
2,"[ 0.0, 10.08 ]","[ 0.0, 16.245 ]","[ 0.0, 0.0 ]","[ 0.0, 31.455 ]","[ 0.0, 40.795 ]","[ 0.0, 9.845 ]","[ 0.0, 36.72 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 9.5 ]","[ 0.0, 58.995 ]","[ 0.0, 29.375 ]","[ 0.0, 9.045 ]","[ 0.0, 31.92 ]","[ 0.0, 0.0 ]"
3,"[ 16.8, 94.08 ]","[ 0.0, 24.795 ]","[ 0.0, 30.845 ]","[ 0.0, 0.0 ]","[ 0.0, 30.845 ]","[ 0.0, 9.845 ]","[ 0.0, 4.32 ]","[ 0.0, 88.0 ]","[ 0.0, 9.045 ]","[ 0.0, 19.0 ]","[ 0.0, 33.345 ]","[ 0.0, 17.625 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 110.0 ]"
4,"[ 0.0, 0.0 ]","[ 0.0, 58.995 ]","[ 0.0, 60.695 ]","[ 0.0, 8.155 ]","[ 0.0, 10.945 ]","[ 0.0, 0.0 ]","[ 0.0, 47.52 ]","[ 0.0, 22.0 ]","[ 0.0, 59.295 ]","[ 0.0, 28.5 ]","[ 0.0, 0.0 ]","[ 0.0, 5.875 ]","[ 0.0, 0.0 ]","[ 0.0, 31.92 ]","[ 0.0, 0.0 ]"
5,"[ 16.8, 94.08 ]","[ 0.0, 16.245 ]","[ 0.0, 10.945 ]","[ 0.0, 54.755 ]","[ 0.0, 60.695 ]","[ 0.0, 9.845 ]","[ 10.8, 58.32 ]","[ 66.0, 110.0 ]","[ 0.0, 19.095 ]","[ 0.0, 9.5 ]","[ 17.1, 93.195 ]","[ 0.0, 0.0 ]","[ 0.0, 29.145 ]","[ 0.0, 111.72 ]","[ 0.0, 0.0 ]"
6,"[ 0.0, 10.08 ]","[ 0.0, 50.445 ]","[ 0.0, 70.645 ]","[ 0.0, 101.355 ]","[ 0.0, 0.0 ]","[ 0.0, 45.645 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 9.045 ]","[ 0.0, 104.5 ]","[ 17.1, 93.195 ]","[ 0.0, 29.375 ]","[ 30.15, 109.545 ]","[ 0.0, 45.22 ]","[ 0.0, 0.0 ]"
7,"[ 16.8, 94.08 ]","[ 0.0, 24.795 ]","[ 0.0, 10.945 ]","[ 0.0, 19.805 ]","[ 29.85, 110.445 ]","[ 0.0, 0.0 ]","[ 0.0, 47.52 ]","[ 0.0, 0.0 ]","[ 0.0, 9.045 ]","[ 0.0, 47.5 ]","[ 0.0, 0.0 ]","[ 11.75, 111.625 ]","[ 0.0, 0.0 ]","[ 0.0, 31.92 ]","[ 0.0, 110.0 ]"
8,"[ 67.2, 110.88 ]","[ 0.0, 24.795 ]","[ 0.0, 20.895 ]","[ 0.0, 101.355 ]","[ 0.0, 0.0 ]","[ 0.0, 54.595 ]","[ 0.0, 4.32 ]","[ 0.0, 22.0 ]","[ 0.0, 99.495 ]","[ 0.0, 104.5 ]","[ 0.0, 7.695 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 98.42 ]","[ 0.0, 110.0 ]"
9,"[ 0.0, 0.0 ]","[ 0.0, 7.695 ]","[ 0.0, 100.495 ]","[ 0.0, 101.355 ]","[ 0.0, 0.0 ]","[ 0.0, 45.645 ]","[ 0.0, 25.92 ]","[ 0.0, 22.0 ]","[ 0.0, 99.495 ]","[ 0.0, 104.5 ]","[ 17.1, 93.195 ]","[ 0.0, 99.875 ]","[ 0.0, 99.495 ]","[ 0.0, 98.42 ]","[ 0.0, 110.0 ]"

In [89]:
# the negative grey distance from the average

nda_matrix_str = get_str_matrix_of_grey_nums(nda_matrix)
nda_matrix_df = pd.DataFrame(nda_matrix_str, columns = criteria)
nda_matrix_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,"[ 40.32, 84.0 ]","[ 9.405, 68.4 ]","[ 0.0, 59.7 ]","[ 0.0, 46.6 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 43.2 ]","[ 88.0, 132.0 ]","[ 0.0, 0.0 ]","[ 9.5, 95.0 ]","[ 43.605, 85.5 ]","[ 0.0, 23.5 ]","[ 0.0, 0.0 ]","[ 0.0, 53.2 ]","[ 0.0, 22.0 ]"
1,"[ 6.72, 67.2 ]","[ 0.0, 34.2 ]","[ 0.0, 39.8 ]","[ 0.0, 69.9 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 43.2 ]","[ 0.0, 0.0 ]","[ 61.305, 120.6 ]","[ 9.5, 95.0 ]","[ 9.405, 68.4 ]","[ 0.0, 23.5 ]","[ 0.0, 0.0 ]","[ 0.0, 53.2 ]","[ 0.0, 22.0 ]"
2,"[ 0.0, 33.6 ]","[ 0.0, 25.65 ]","[ 18.905, 99.5 ]","[ 0.0, 81.55 ]","[ 0.0, 19.9 ]","[ 0.0, 26.85 ]","[ 0.0, 21.6 ]","[ 22.0, 66.0 ]","[ 1.005, 60.3 ]","[ 0.0, 66.5 ]","[ 0.0, 0.0 ]","[ 0.0, 47.0 ]","[ 0.0, 50.25 ]","[ 0.0, 93.1 ]","[ 22.0, 132.0 ]"
3,"[ 0.0, 0.0 ]","[ 0.0, 17.1 ]","[ 0.0, 29.85 ]","[ 3.495, 81.55 ]","[ 0.0, 29.85 ]","[ 0.0, 35.8 ]","[ 0.0, 43.2 ]","[ 0.0, 0.0 ]","[ 0.0, 50.25 ]","[ 0.0, 47.5 ]","[ 0.0, 8.55 ]","[ 0.0, 58.75 ]","[ 11.055, 70.35 ]","[ 21.28, 133.0 ]","[ 0.0, 22.0 ]"
4,"[ 40.32, 84.0 ]","[ 0.0, 0.0 ]","[ 0.0, 19.9 ]","[ 0.0, 93.2 ]","[ 0.0, 49.75 ]","[ 8.055, 44.75 ]","[ 0.0, 0.0 ]","[ 0.0, 22.0 ]","[ 0.0, 20.1 ]","[ 0.0, 57.0 ]","[ 9.405, 51.3 ]","[ 0.0, 70.5 ]","[ 11.055, 70.35 ]","[ 0.0, 93.1 ]","[ 22.0, 132.0 ]"
5,"[ 0.0, 0.0 ]","[ 0.0, 25.65 ]","[ 0.0, 49.75 ]","[ 0.0, 46.6 ]","[ 0.0, 19.9 ]","[ 0.0, 26.85 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 40.2 ]","[ 0.0, 66.5 ]","[ 0.0, 0.0 ]","[ 41.125, 117.5 ]","[ 0.0, 30.15 ]","[ 0.0, 13.3 ]","[ 22.0, 132.0 ]"
6,"[ 0.0, 33.6 ]","[ 0.0, 8.55 ]","[ 0.0, 9.95 ]","[ 0.0, 23.3 ]","[ 18.905, 99.5 ]","[ 0.0, 0.0 ]","[ 6.48, 54.0 ]","[ 0.0, 44.0 ]","[ 0.0, 50.25 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 82.25 ]","[ 0.0, 0.0 ]","[ 0.0, 79.8 ]","[ 22.0, 132.0 ]"
7,"[ 0.0, 0.0 ]","[ 0.0, 17.1 ]","[ 0.0, 59.7 ]","[ 0.0, 58.25 ]","[ 0.0, 0.0 ]","[ 8.055, 44.75 ]","[ 0.0, 0.0 ]","[ 0.0, 44.0 ]","[ 0.0, 50.25 ]","[ 0.0, 47.5 ]","[ 9.405, 51.3 ]","[ 0.0, 0.0 ]","[ 61.305, 120.6 ]","[ 0.0, 93.1 ]","[ 0.0, 22.0 ]"
8,"[ 0.0, 0.0 ]","[ 0.0, 17.1 ]","[ 0.0, 39.8 ]","[ 0.0, 23.3 ]","[ 18.905, 99.5 ]","[ 0.0, 0.0 ]","[ 0.0, 43.2 ]","[ 0.0, 22.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 34.2 ]","[ 17.625, 94.0 ]","[ 11.055, 80.4 ]","[ 0.0, 53.2 ]","[ 0.0, 22.0 ]"
9,"[ 40.32, 84.0 ]","[ 0.0, 34.2 ]","[ 0.0, 0.0 ]","[ 0.0, 23.3 ]","[ 58.705, 119.4 ]","[ 0.0, 8.95 ]","[ 0.0, 21.6 ]","[ 0.0, 22.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 0.0 ]","[ 0.0, 23.5 ]","[ 0.0, 0.0 ]","[ 0.0, 53.2 ]","[ 0.0, 22.0 ]"

In [95]:
# weights for criteria categories obtained through g-aph

weights = [0.259, 0.226, 0.107, 0.095, 0.108, 0.205] 
criteria_weights_from_g_aph = [weights[0]]
criteria_weights_from_g_aph.extend([weights[1] for i in range(3)]) # C21, C22, C23
criteria_weights_from_g_aph.extend([weights[2] for i in range(4)]) # C31, C32, C33, C34
criteria_weights_from_g_aph.extend([weights[3] for i in range(2)]) # C41, C42
criteria_weights_from_g_aph.extend([weights[4] for i in range(3)]) # C51, C52, C53
criteria_weights_from_g_aph.extend([weights[5] for i in range(2)]) # C61, C62
print(criteria_weights_from_g_aph)

[0.259, 0.226, 0.226, 0.226, 0.107, 0.107, 0.107, 0.107, 0.095, 0.095, 0.108, 0.108, 0.108, 0.205, 0.205]

In [110]:
def get_weighted_dist_from_avg_for_candidate(candidate):
    pda_for_all_criteria = pda_matrix[candidate,:,:]
    nda_for_all_criteria = nda_matrix[candidate,:,:]
    weighted_pda = np.array([0., 0.])
    weighted_nda = np.array([0., 0.])
    
    for i in range(num_of_criteria):
        criterion_pda = pda_for_all_criteria[i]
        criterion_nda = nda_for_all_criteria[i]
        criterion_weight = criteria_weights_from_g_aph[i]
        
        weighted_pda += criterion_pda * criterion_weight
        weighted_nda += criterion_nda * criterion_weight
        
    return weighted_pda, weighted_nda

In [125]:
# weighted sum of the grey PDA and NDA

weighted_pda_matrix = np.zeros((1, num_of_candidates, 2), dtype=float)
weighted_nda_matrix = np.zeros((1, num_of_candidates, 2), dtype=float)

for candidate in range(num_of_candidates):
    weighted_pda, weighted_nda = get_weighted_dist_from_avg_for_candidate(candidate)
    weighted_pda_matrix[0, candidate] = weighted_pda
    weighted_nda_matrix[0, candidate] = weighted_nda
    
weighted_pda_matrix = np.around(weighted_pda_matrix, 3)
weighted_nda_matrix = np.around(weighted_nda_matrix, 3)

In [126]:
# weighted sum of the grey PDA

weighted_pda_str = get_str_matrix_of_grey_nums(weighted_pda_matrix)
weighted_pda_df = pd.DataFrame(weighted_pda_str, columns = ['Candidate '+str(i+1) for i in range(num_of_candidates)])
weighted_pda_df

,Candidate 1,Candidate 2,Candidate 3,Candidate 4,Candidate 5,Candidate 6,Candidate 7,Candidate 8,Candidate 9,Candidate 10
0,"[ 0.0, 96.185 ]","[ 7.062, 99.474 ]","[ 0.0, 40.705 ]","[ 4.351, 81.892 ]","[ 0.0, 53.021 ]","[ 14.416, 107.276 ]","[ 5.103, 102.893 ]","[ 8.814, 100.343 ]","[ 17.405, 133.545 ]","[ 1.847, 151.071 ]"

In [127]:
# weighted sum of the grey NDA

weighted_nda_str = get_str_matrix_of_grey_nums(weighted_nda_matrix)
weighted_nda_df = pd.DataFrame(weighted_nda_str, columns = ['Candidate '+str(i+1) for i in range(num_of_candidates)])
weighted_nda_df

,Candidate 1,Candidate 2,Candidate 3,Candidate 4,Candidate 5,Candidate 6,Candidate 7,Candidate 8,Candidate 9,Candidate 10
0,"[ 27.596, 116.198 ]","[ 9.483, 100.372 ]","[ 11.232, 138.487 ]","[ 6.346, 96.615 ]","[ 18.024, 134.004 ]","[ 8.952, 88.443 ]","[ 7.226, 96.357 ]","[ 8.499, 91.464 ]","[ 5.12, 73.693 ]","[ 16.724, 71.104 ]"

In [133]:
# normalizing values

pda_norm_factor = max(np.ravel(weighted_pda_matrix[:,:,1]))
nda_norm_factor = max(np.ravel(weighted_nda_matrix[:,:,1]))

norm_weighted_pda = np.around(weighted_pda_matrix / pda_norm_factor, 3)
norm_weighted_nda = np.around(weighted_nda_matrix / nda_norm_factor, 3)

In [134]:
# normalized weighted grey sums of positive distances from the average (PDA)

norm_weighted_pda_str = get_str_matrix_of_grey_nums(norm_weighted_pda)
norm_weighted_pda_df = pd.DataFrame(norm_weighted_pda_str, columns = ['Candidate '+str(i+1) for i in range(num_of_candidates)])
norm_weighted_pda_df

,Candidate 1,Candidate 2,Candidate 3,Candidate 4,Candidate 5,Candidate 6,Candidate 7,Candidate 8,Candidate 9,Candidate 10
0,"[ 0.0, 0.637 ]","[ 0.047, 0.658 ]","[ 0.0, 0.269 ]","[ 0.029, 0.542 ]","[ 0.0, 0.351 ]","[ 0.095, 0.71 ]","[ 0.034, 0.681 ]","[ 0.058, 0.664 ]","[ 0.115, 0.884 ]","[ 0.012, 1.0 ]"

In [135]:
# normalized weighted grey sums of negative distances from the average (NDA)

norm_weighted_nda_str = get_str_matrix_of_grey_nums(norm_weighted_nda)
norm_weighted_nda_df = pd.DataFrame(norm_weighted_nda_str, columns = candidates)
norm_weighted_nda_df

,Candidate 1,Candidate 2,Candidate 3,Candidate 4,Candidate 5,Candidate 6,Candidate 7,Candidate 8,Candidate 9,Candidate 10
0,"[ 0.199, 0.839 ]","[ 0.068, 0.725 ]","[ 0.081, 1.0 ]","[ 0.046, 0.698 ]","[ 0.13, 0.968 ]","[ 0.065, 0.639 ]","[ 0.052, 0.696 ]","[ 0.061, 0.66 ]","[ 0.037, 0.532 ]","[ 0.121, 0.513 ]"

In [147]:
# calculating score

scores = []

for i in range(num_of_candidates):
    norm_weighted_pda_for_candidate = np.ravel(norm_weighted_pda[0,i,:])
    norm_weighted_nda_for_candidate = np.ravel(norm_weighted_nda[0,i,:])
    score = sum(norm_weighted_pda_for_candidate) + sum(norm_weighted_nda_for_candidate)
    score = np.round(score/4, 3)
    scores.append(score)
    
scores

[0.419, 0.374, 0.338, 0.329, 0.362, 0.377, 0.366, 0.361, 0.392, 0.412]

In [151]:
def get_ranks_for_candidates(scores):
    candidate_score_dict = {}
    c = 1
    for score in scores:
        candidate_score_dict[c] = score
        c += 1

    candidate_score_sorted = dict(sorted(candidate_score_dict.items(), key=lambda item: item[1]))
    ranks = [0 for i in range(num_of_candidates)]
    rank = 1
    for c in candidate_score_sorted:
        ranks[c-1] = rank
        rank += 1
        
    return ranks

In [152]:
ranks = get_ranks_for_candidates(scores)
ranks

[10, 6, 2, 1, 4, 7, 5, 3, 8, 9]

In [153]:
scores_data = {'Candidate': candidates, 'Score': scores, 'Rank': ranks}
scores_df = pd.DataFrame(data=scores_data)
scores_df

      Candidate  Score  Rank
0   Candidate 1  0.419    10
1   Candidate 2  0.374     6
2   Candidate 3  0.338     2
3   Candidate 4  0.329     1
4   Candidate 5  0.362     4
5   Candidate 6  0.377     7
6   Candidate 7  0.366     5
7   Candidate 8  0.361     3
8   Candidate 9  0.392     8
9  Candidate 10  0.412     9